img{
    float: left;
    margin-right: 30px;
}
#uno{
    margin: auto;
    width: 80px;
    height: 50px;
    background-color: #15F430;
    box-sizing: border-box;
    padding-top: 20px;
    border: 1px solid #333;
}
#menu{
    position: relative;
    max-width: 20%;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: black};
}
#menu ul{
    top: 0%;
    left: 0%;
    list-style: none;
    margin-left: 20%;
    padding-left: 20%;
}

#menu ul li{
    padding: 20px;
}

#menu ul li a{
    color: white;
    text-decoration-line: none;
}

#menu ul li a:hover{
    cursor: pointer;
    color: #BBB5B5;
}

#lorem{
    display: block;
    box-sizing: border-box;
    color: white;
    background-color: #01F8FC;
    font-family: sans-serif;
}

#sed{
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    background-color: #EF670E;
}

#proin{
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    background-color: yellow;
}

#nulta{
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    background-color: red;
}

#loremx{
    font-size: 15px;
}