body{
    background-color: #00E7DD;
}

h1{
    text-decoration: underline;
}

.slide{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.slide img{
    height: 60vh;
}

.card{
    float: left;
    margin-top: 20px;
    margin-left: 35px;
}

#gato{
    margin-right: 90px;
    float: left;
    width: 80vh;
    height: 75vh;
}
#container{
    box-sizing: border-box;
    text-align: justify;
    background-color: blue;
}

.p{
    text-align: justify;
    font-family: sans-serif;
}

#noso{
    margin-bottom: 20px;
    width: 60%;
    height: 60%;
}

#contac{
    float: right;
    width: 60%;
    height: 60%;
    margin-right: 90px;
}

