#Logo{
    margin-left: 30px;
}
.slide img{
    height: 60vh;
    width: 30vh;
}
.slide{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
}
#Foto{
    float: right ;
    margin-left: 20px;
    margin-right: 35px;
}
#Texto{
    margin-left: 30px;
    font-family:monospace;
    block-size: auto;
    text-align: justify;   
}


.card{
    float: left;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 20px;
}

#obra{
    float: left;
    margin-left: 20px;
    margin-right: 30px;
    width: 80vh;
    height: 70vh;
}

#info{
    font-family:serif;
    text-align: justify;
    margin-right: 30px;
}

#texini{
    font-size: 13px;
    font-family: sans-serif;
    margin:0%;
    padding: 0%;
    background-color: #FAAB16 ;
    text-align: justify;
}

.form-group{
    margin-right: 300px;
    margin-left: 300px;
}

#soporte{
    float: right;
}

#contacto{
    background-color: #F7CB79 ;
}

#cmensaje{
    height: 115px;
}

#nosotros{
    background-color: #F9B940;
}
