#Logo{
    margin-left: 30px;
}
.slide img{
    height: 60vh;
    width: 30vh;
}
.slide{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
}
#Foto{
    float: right ;
    margin-right: 35px;
}
#Texto{
    block-size: auto;
    text-align: left;
}

.card{
    float: left;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 20px;
}