*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: black;
    float: left;
}

.me{
    overflow: auto;
    float: left;
}
.me ul li{
    list-style: none;
    padding: 12px 10px;
}

.me ul li:hover{
    cursor: pointer;
}

.me ul li a{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 17px;
}

.me ul li a:hover{
    color: #7E7B79;
}

.texto{
    color: white;
}
